<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="subscribe" id="subscribe">
      <div class="subscribe__container">
        <span class="subscribe__title">Advanced Heliophysics</span>
      </div>
    </div>

    <hr class="sep--white"/>
        <p class="subscribe__text">We are thankful to NASA and UCLA for their support of our work</p>

  </div>
</footer>

{% include contact.html %}

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
