<header class="header">
    <a class="header__title" href="{{ '/' | absolute_url }}"><img src="/assets/images/title.png" / width="350px"></a>
    <!-- <a class="header__title" href="{{ '/' | absolute_url }}"><img src="/assets/images/logos/logo.jpg" / width="150px"><img src="/assets/images/title.png" / width="200px"></a> -->
    <!-- <a class="header__title" href="{{ '/' | absolute_url }}"><img src="/assets/images/logos/logo3.jpg"/ style="width:120px;height:120px;"></a> -->
    <!-- <a class="header__title" href="{{ '/' | absolute_url }}">{{ site.title }}</a> -->

  {% include navigation.html %}
</header>
